<div class="row">
  <div class="col-sm-2"></div>

  <!-- Jumbotron -->
  <div class="col-sm-8">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-5">Game Controller</h1>
        <p class="lead">
          This is a game controller assignment for full angular course
        </p>
        <footer class="blockquote-footer">
          Made with 💙 by <cite title="Source Title">Arsene Kevin</cite>
        </footer>
      </div>
    </div>

    <app-game-control></app-game-control>
  </div>

  <div class="col-sm-2"></div>
</div>
