<div class="row">
  <div class="col-sm-2"></div>

  <!-- Jumbotron -->
  <div class="col-sm-8">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-5">Game Controller</h1>
        <p class="lead">
          This is a game controller assignment for full angular course
        </p>
        <footer class="blockquote-footer">
          Made with 💙 by <cite title="Source Title">Arsene Kevin</cite>
        </footer>
      </div>
    </div>

    <!-- Retrieve event from game-control-component -->
    <app-game-control (gameStarted)="onGameStarted($event)"></app-game-control>

    <hr />
    <div *ngFor="let gameElement of gameElements">
      <div class="row">
        <div class="col-sm-8" *ngIf="gameElement.message == 'Even'">
          <app-even [evenElement]="gameElement"></app-even>
        </div>
        <div class="col-sm-8" *ngIf="gameElement.message == 'Odd'">
          <app-odd [oddElement]="gameElement"></app-odd>
        </div>
      </div>
      <br />
    </div>
  </div>

  <div class="col-sm-2"></div>
</div>
