<!--
<label for="user">Username </label> <br />
<input
  id="user"
  type="text"
  class="form-control"
  [(ngModel)]="username"
  (input)="onMatchingInput($event)"
/>
<br />

<button
  class="btn btn-danger"
  (click)="onResetInput()"
  [disabled]="!inputStatus"
>
  Reset
</button>

<br /><br />
<div class="alert alert-secondary" role="alert">
  {{ username }}
</div>
-->

<p [ngStyle]="{ fontSize: fontSize }">
  Server with ID {{ serverOneId }} is
  <span [ngClass]="getColor1()">{{ getServerStatus()[0] }}</span>
</p>

<p>
  Server with ID {{ serverTwoId }} is
  <span [ngClass]="getColor2()">{{ getServerStatus()[1] }}</span>
</p>
