<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-offset-3 col-md-6 jumbotron">
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="email" id="password" class="form-control" />
      </div>
      <div>
        <button class="btn btn-primary">
          {{ !isLoginMode ? "Sign Up" : "Login" }}
        </button>
        &nbsp;
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Switch to Login
        </button>
      </div>
    </form>
  </div>
</div>
